<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="wait.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
    <link rel="shortcut icon" href="arcoiris.ico" type="image/x-icon">
    <title>Bifrost Server</title>
</head>
<body id="body">
    <h1>Tiempo hasta el evento</h1>
    <h3 id="timer">00:00:00</h3>
    <div id="barraLoad">
        <div id="puntoload"></div>
    </div>
    <script src="wait.js"></script>
</body>
</html>